FROM node:14

# Install system dependencies for OpenCV
RUN apt-get update && \
    apt-get install -y \
    build-essential \
    cmake \
    git \
    libgtk-3-dev \
    libboost-all-dev \
    && rm -rf /var/lib/apt/lists/*

# Install OpenCV
RUN git clone https://github.com/opencv/opencv.git /opencv && \
    cd /opencv && \
    mkdir build && \
    cd build && \
    cmake .. && \
    make && \
    make install

# Set the working directory in the container
WORKDIR /usr/src/app

# Copy package.json and package-lock.json (or yarn.lock) to the working directory
COPY package*.json ./

# Install Node.js dependencies
RUN npm install

# Copy the rest of the application code to the working directory
COPY . .

# Expose the port the app runs on
EXPOSE 3000

# Define the command to run the app
CMD ["node", "app.js"]
